@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

// Data Pulse Styles
$blue_data_pulse: #5865ac;
$red_data_pulse: #e84c4f;
$font-data-pulse: 'Average Sans', sans-serif;

// General styling
$app_color_background: #121327;
$light_blue: #abcef7;
$dark_blue: #121327;
$text_color: white;
$h1_font_size: 2.5vmax;
$h2_font_size: 2vmax;

// Nav bar styling
$nav-font-size: 3vmax;
$nav-menu_font-size: 2.5vmax;

// Container styling
$padding-top-container: 6vmax;
$padding-bottom-container: 6vmax;
$padding-left-container: 2vmax;
$padding-right-container: 2vmax;

// Form styling
$sign-up-button-width: 15vmax;
$sign-up-button-height: 4vmax;
$input-form-width: 25vmax;