
@use 'global' as *;

@mixin data_pulse_font_style($font-size, $color, $font-weight) {
    font-family: $font-data-pulse;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

@mixin slogan_font_style($font-size, $font-weight, $color) {
    font-family: $font-data-pulse;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
    span{
        color: $red_data_pulse;
        span{
            font-size: $font-size + 0.2*$font-size;
        }
    }
}

@mixin center_content{
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

@mixin center_vertically{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


@mixin style_container($width, $height, $background-color){
    width: $width;
    height: $height;
    background-color: $background-color;
}

@mixin apply_padding_container(){
    padding-top: $padding-top-container;
    padding-bottom: $padding-bottom-container;
    padding-right: $padding-right-container;
    padding-left: $padding-left-container;
}


.header{
    background-image: linear-gradient(to right, $red_data_pulse, $blue_data_pulse);
}

.navbar{
    padding: 2%;
    padding-left: 0%;
    padding-right: 0%;

    .navbar-brand{
        width: 60%;
        margin-left: 5%;
        padding-top: 0%;
        img{
            width: 50%;
        }
        @media (max-width: 575px){
            img{
                width: 150px;
            }
        }
    }
    .navbar-toggler{
        margin-right: 2%;
        .navbar-toggler-icon {
            background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
            font-size: $nav-font-size;
        }
    }
    #navbarNavDropdown{
        background-color: transparent;
        margin-left: 0%;
        margin-right: 0%;
    }
    .dropdown-item{
        font-size: small;
        margin-left: 5%;
    }
    .nav-link{
        font-size: $nav-menu_font-size;
        margin-left: 10%;
        color: $text_color;
    }
}

.promotional{
    color: $text_color;
    padding-right: 0%;
    padding-left: 0%;
    @include center_content();

    .promotional-text{
        h1{
            padding-bottom: 1vmax;
            @include slogan_font_style($h1_font_size, bold, $text_color);
        }
        h2{
            font-size: $h2_font_size;
            span{
                color: $light_blue;
            }
        }
        @include style_container(100%, 100%, $app_color_background);
        @include apply_padding_container();
    }
}

#carousel-products-services{
    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        outline: white;
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 2px solid white;
        background-image: none;
    }
    .carousel-control-next-icon:after
    {
        content: '>';
        font-size: 55px;
        color: $red_data_pulse;
    }
    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 55px;
        color: $red_data_pulse;
      }
    .carousel-inner{
        height: 100%;
        width: 100%;
    }
    .carousel-item{
        height: 100%;
        width: 100%;
    }
    .card{
        background-color: white;
    }
    .card-img-bottom{
        height: 40vmax;
    }
    %card-body{
        h1{
            font-size: $h1_font_size;
        }
        h2{
            font-size: $h2_font_size;
        }
        @include apply_padding_container();
    }
    .card-body-1{
        @extend %card-body;
        background-color: $red_data_pulse;
    }
    .card-body-2{
        @extend %card-body;
        background-color: $red_data_pulse;
    }
    .card-body-3{
        @extend %card-body;
        background-color: $red_data_pulse;
    }
    @include style_container(100%, 100%, $app_color_background);
}
