
/* -------------------------- GENERAL STYLES --------------------------*/



/* -------------------------- NAV BAR STYLES --------------------------*/

.navbar{
    background-color: #06274d;
    padding: 0%;
}
.navbar-brand{
    color: white;
    margin-left: 5%;
    font-size: small;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}
#navbarNavDropdown{
    font-size: small;
    background-color: #abcef7;
    margin-left: 0%;
    margin-right: 0%;
}
.nav-item:nth-child(2n){
    background-color: #003e8a;
}
.nav-link{
    font-size: x-small;
    margin-left: 5%;
    color: #1c4a80;
}
.nav-item:nth-child(2n) > .nav-link{
    color: white;
}
.dropdown-menu{
    background-color: #ebfcff;
}
.dropdown-item{
    font-size: x-small;
}